## Pandas Tutorial

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Agenda

- What is Data Frames?
- What is Data Series?
- Different operation in Pandas

In [82]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [85]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Delhi','Mumbai','Chennai','Kolkats','Pune'],columns=["Childs","Adults","Male","Female"])

In [86]:
df.head()

         Childs  Adults  Male  Female
Delhi         0       1     2       3
Mumbai        4       5     6       7
Chennai       8       9    10      11
Kolkats      12      13    14      15
Pune         16      17    18      19

In [87]:
## Accessing the elements

df.loc['Delhi']

Childs    0
Adults    1
Male      2
Female    3
Name: Delhi, dtype: int64

In [88]:
## Check the type

type(df.loc['Delhi'])

pandas.core.series.Series

In [89]:
df.iloc[:,:]

         Childs  Adults  Male  Female
Delhi         0       1     2       3
Mumbai        4       5     6       7
Chennai       8       9    10      11
Kolkats      12      13    14      15
Pune         16      17    18      19

In [93]:
## Take the elements from the Column2
df.iloc[:,2:]

         Male  Female
Delhi       2       3
Mumbai      6       7
Chennai    10      11
Kolkats    14      15
Pune       18      19

In [95]:
#convert Dataframes into array
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [96]:
df['Childs'].value_counts()

0     1
8     1
4     1
16    1
12    1
Name: Childs, dtype: int64

In [97]:
df=pd.read_csv('mercedesbenz.csv')

In [98]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [100]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [101]:
#Get the unique category counts
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
aq     18
i      18
am     18
u      17
l      16
aw     16
ad     14
au     11
b      11
k      11
as     10
r      10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [107]:
a= df[df['y']>100]
a.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,2004.000000,2004.000000,2004.000000,2004.0,2004.000000,2004.000000,2004.000000,2004.000000,2004.000000,2004.0,...,2004.000000,2004.000000,2004.000000,2004.000000,2004.000000,2004.000000,2004.0,2004.000000,2004.000000,2004.0
mean,4136.289421,111.249890,0.008982,0.0,0.099800,0.069361,0.551397,0.000998,0.005489,0.0,...,0.319860,0.090818,0.334830,0.000499,0.018463,0.011976,0.0,0.001996,0.000499,0.0
std,2424.286395,9.501303,0.094371,0.0,0.299808,0.254131,0.497475,0.031583,0.073903,0.0,...,0.466539,0.287422,0.472049,0.022338,0.134652,0.108805,0.0,0.044643,0.022338,0.0
min,0.000000,100.010000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
25%,2009.000000,105.817500,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
50%,4122.500000,109.350000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
75%,6239.500000,114.230000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0

In [108]:
df.corr()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,1.000000,-0.055108,0.001602,NaN,0.058988,-0.031917,-0.025438,0.002237,-0.036480,-0.038171,...,0.045229,-0.080259,-0.022965,0.030371,0.023382,-0.013577,-0.038171,-0.009332,-0.015355,0.029059
y,-0.055108,1.000000,-0.026985,NaN,0.089792,0.048276,0.193643,0.023116,0.048946,-0.159815,...,0.029100,0.114005,0.061403,-0.258679,0.067919,0.040932,-0.159815,0.040291,-0.004591,-0.022280
X10,0.001602,-0.026985,1.000000,NaN,-0.033084,-0.028806,-0.100474,-0.002532,-0.005944,-0.010164,...,0.165277,-0.028618,-0.074244,-0.016870,-0.011374,-0.010479,-0.010164,-0.004740,-0.002532,-0.004387
X11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,0.058988,0.089792,-0.033084,NaN,1.000000,0.214825,-0.246513,-0.006212,-0.014584,-0.024937,...,-0.107864,-0.070214,0.030134,-0.016043,-0.027907,-0.005566,-0.024937,-0.011628,-0.006212,-0.010765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,-0.013577,0.040932,-0.010479,NaN,-0.005566,0.023045,0.007743,-0.001968,-0.004619,-0.007899,...,-0.061741,-0.022240,-0.061168,-0.013110,-0.008839,1.000000,-0.007899,-0.003683,-0.001968,-0.003410
X382,-0.038171,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X383,-0.009332,0.040291,-0.004740,NaN,-0.011628,-0.010125,0.023604,-0.000890,-0.002089,-0.003572,...,-0.015413,-0.010059,0.035107,-0.005930,-0.003998,-0.003683,-0.003572,1.000000,-0.000890,-0.001542
X384,-0.015355,-0.004591,-0.002532,NaN,-0.006212,0.041242,0.025199,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,0.008694,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,1.000000,-0.000824
X385,0.029059,-0.022280,-0.004387,NaN,-0.010765,-0.009373,0.043667,-0.000824,-0.001934,-0.003307,...,0.055225,-0.009311,-0.025610,-0.005489,-0.003701,-0.003410,-0.003307,-0.001542,-0.000824,1.000000

In [109]:
df['X11'].value_counts()

0    4209
Name: X11, dtype: int64

In [110]:
import numpy as np

In [111]:
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [112]:
df=pd.DataFrame(lst_data)

In [113]:
df.head()

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [114]:
## HAndling Missing Values

##Drop nan values

df.dropna(axis=0)

     0    1    2
0  1.0  2.0  3.0

In [115]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [116]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])

In [117]:
df.head()

        one       two     three
a -0.765756  2.860338 -0.387686
c -0.111818 -0.283064  1.263553
e  1.162384  0.038594 -0.885724
f  0.828404  0.129910  2.081729
h  0.551640  0.739241 -0.999367

In [118]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [119]:
df2

        one       two     three
a -0.765756  2.860338 -0.387686
b       NaN       NaN       NaN
c -0.111818 -0.283064  1.263553
d       NaN       NaN       NaN
e  1.162384  0.038594 -0.885724
f  0.828404  0.129910  2.081729
g       NaN       NaN       NaN
h  0.551640  0.739241 -0.999367

In [120]:
df2.dropna(axis=0)

        one       two     three
a -0.765756  2.860338 -0.387686
c -0.111818 -0.283064  1.263553
e  1.162384  0.038594 -0.885724
f  0.828404  0.129910  2.081729
h  0.551640  0.739241 -0.999367

In [121]:
pd.isna(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [122]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [124]:
df2.fillna('NOT AVAILABLE')

             one            two          three
a      -0.765756       2.860338      -0.387686
b  NOT AVAILABLE  NOT AVAILABLE  NOT AVAILABLE
c      -0.111818      -0.283064       1.263553
d  NOT AVAILABLE  NOT AVAILABLE  NOT AVAILABLE
e       1.162384       0.038594      -0.885724
f       0.828404       0.129910       2.081729
g  NOT AVAILABLE  NOT AVAILABLE  NOT AVAILABLE
h       0.551640       0.739241      -0.999367

In [32]:
df2['one'].values

array([-1.02956916,         nan, -0.07769913,         nan, -0.39601886,
       -0.0826003 ,         nan, -0.87068427])

In [33]:
### Reading different data sources with the help of pandas

## CSV

In [34]:
from io import StringIO, BytesIO

In [35]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')

In [36]:
type(data)

str

In [37]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [38]:
## Read from specific columns
df=pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3'])

In [39]:
df.to_csv('Test.csv')

In [40]:
## Specifying columns data types

data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [41]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [42]:
df=pd.read_csv(StringIO(data),dtype=object)

In [43]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [44]:
df['a'][1]

'5'

In [45]:
df=pd.read_csv(StringIO(data),dtype={'b':int,'c':np.float,'a':'Int64'})

In [46]:
df

   a   b     c    d
0  1   2   3.0  4.0
1  5   6   7.0  8.0
2  9  10  11.0  NaN

In [47]:
df['a'][1]

5

In [48]:
## check the datatype
df.dtypes

a      Int64
b      int64
c    float64
d    float64
dtype: object

In [49]:
## Index columns and training delimiters

In [50]:
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [51]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [52]:
 data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [53]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [54]:
pd.read_csv(StringIO(data),index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [55]:
## Combining usecols and index_col
 data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

IndentationError: unexpected indent (<ipython-input-55-74f0b2e98f9f>, line 2)

In [56]:
pd.read_csv(StringIO(data), usecols=['b', 'c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [57]:
## Quoting and Escape Characters¶. Very useful in NLP

data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [58]:
pd.read_csv(StringIO(data),escapechar='\\')

                               a  b
0  hello, "Bob", nice to see you  5

In [59]:
## URL to CSV

df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1108)>

In [ ]:
df.head()

In [60]:
## Read Json to CSV

In [61]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
pd.read_json(Data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [62]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1108)>

In [ ]:
df.head()

In [63]:
# convert Json to csv

In [64]:
df.to_csv('wine.csv')

In [65]:
# convert Json to different json formats

df.to_json(orient="index")

'{"0":{"a":1,"b":2,"c":3.0,"d":4.0},"1":{"a":5,"b":6,"c":7.0,"d":8.0},"2":{"a":9,"b":10,"c":11.0,"d":null}}'

In [66]:

df.to_json(orient="records")

'[{"a":1,"b":2,"c":3.0,"d":4.0},{"a":5,"b":6,"c":7.0,"d":8.0},{"a":9,"b":10,"c":11.0,"d":null}]'

## Reading HTML content

In [67]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

dfs = pd.read_html(url)

ImportError: lxml not found, please install it

In [68]:
dfs[0]

NameError: name 'dfs' is not defined

In [69]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs = pd.read_html(url_mcc, match='Country', header=0)

ImportError: lxml not found, please install it

In [70]:
dfs[0]

NameError: name 'dfs' is not defined

## Reading EXcel Files

In [77]:
df_excel=pd.read_csv('mercedesbenz.csv')

In [78]:
df_excel.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

## Pickling
All pandas objects are equipped with to_pickle methods which use Python’s cPickle module to save data structures to disk using the pickle format.

In [79]:
df_excel.to_pickle('df_excel')

In [80]:
df=pd.read_pickle('df_excel')

In [81]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0